// Fonts

$icons:		'icomoon';



$text:		sans-serif;


// Font weights

$regular:			400;
$bold:              700;


$z-index: (
	aside         : 120,
	top           : 100,
	nav           : 110
);


// Default

$base-font-size:	16;
$base:				1200;
$project:           1680;

// RWD

$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	480;
